body {
  background-color: pink;
}

li:hover {
  font-size: 35px;
}

img {
  border: solid 2px;
}

ul {
  list-style-type: none;
  text-align: center;
}

td {
  text-align: center;
}

body {
  font-variant: small-caps;
  font-size: 20px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 28px;
}

a:hover {
  font-size: 110%;
}
